<h1>Comments</h1>

<form action="/posts/comments" method="post">
  <input type="text" id="title" name="title"/>
  <input type="text" id="content" name="content"/>
  <input type="submit" id='submit' value="Submit"/>
</form>


@* @foreach (Comment comment in ViewBag.Comments)
{
  @if (comment.PostId == post.Id)
  {
    <p>@comment.CommentContent</p>
  }
  <br />
} *@