<form action="/users" method="post">
  <input type='text' id='name' name='name' placeholder="I am a name" required />
  <input type='text' id='email' name='email' placeholder="I am an email" required />
  <input type='password' id='password' placeholder="I am a password" required />
  <input type='submit' id='submit' value='Submit' />
</form>