<h1>Posts</h1>

<form action="/posts" method="post">
  <input type="text" name="title"/>
  <input type="text" name="content"/>
  <input type="submit" value="Submit"/>
</form>

@foreach (Post post in ViewBag.Posts)
{
  <h3>@post.Title</h3>
  <p>@post.Title @post.Content</p>
}
