<h1>Posts</h1>

<form action="/posts" method="post">
  <input type="text" id="title" name="title"/>
  <input type="text" id="content" name="content"/>
  <input type="submit" id='submit' value="Submit"/>
</form>

@foreach (Post post in ViewBag.Posts)
{
  <br />

  <h5>@post.User.Name @post.TimePosted</h5>
  <h4>@post.Title</h4>
  <p>@post.Content</p>
  <a href="/posts/comments">Add comment</a>

  <br />
  <br />
}
